services:
  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    container_name: dao-backend
    ports:
      - "8545:8545"
    env_file:
      - .env
    volumes:
      - ./backend:/app/backend

  frontend:
    build:
      context: .
      dockerfile: docker/frontend.Dockerfile
    container_name: dao-frontend
    ports:
      - "3000:3000"
    env_file:
      - frontend/.env
    depends_on:
      - backend
    volumes:
      - ./frontend:/app/frontend
