services:
  backend:
    build:
      context: ./docker
      dockerfile: backend.Dockerfile
    volumes:
      - ./backend:/app/backend
    ports:
      - "8545:8545"
    env_file:
      - .env

  frontend:
    build:
      context: ./docker
      dockerfile: frontend.Dockerfile
    volumes:
      - ./frontend:/app/frontend
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - backend
